// Import stuffs
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

// Color Variables

$primary-color: #047aed;
$secondary-color: #1c3fa8;
$dark-color: #002240;
$light-color: #f4f4f4;
$active-color: #e63946;
$success-color: #5cb85c;
$error-color: #d9534f;
$white-color: #fff;
$black-color: #000;