@import 'config';
@import 'main';

// Navbar

.main-header {
  background-color: $dark-color;
  padding: 1rem 0;
  height: 15vh;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-link {
      margin-right: 1rem;
      font-size: 1rem;
      color: $white-color;

      &:first-of-type {
        font-size: 2rem;
        margin-right: 2rem;
      }

      &:hover {
        color: $success-color;
      }
    }

    .social-icons {
      .social-icon {
        margin-left: 1rem;
      }
    }
  }
}

// Home Component

.home-img {
  position: absolute;
  height: 85vh;
  width: 100vw;
  z-index: -1;
}

.my-name {
  z-index: 1;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  font-size: 80px;
}

@import 'utilities';
@import 'responsive';
